In [19]:
from common.utils import Fetcher
from bot.openai.engine import OpenAIBot
import pandas as pd

In [22]:
data, type, subfix = Fetcher.fetch_file_data('https://raw.githubusercontent.com/f/awesome-chatgpt-prompts/main/prompts.csv')
print(type, subfix)
df = pd.read_csv(data)

text None

In [23]:
df

,act,prompt
0,Linux Terminal,I want you to act as a linux terminal. I will ...
1,English Translator and Improver,"I want you to act as an English translator, sp..."
2,`position` Interviewer,I want you to act as an interviewer. I will be...
3,JavaScript Console,I want you to act as a javascript console. I w...
4,Excel Sheet,I want you to act as a text based excel. you'l...
...,...,...
147,Cover Letter,"In order to submit applications for jobs, I wa..."
148,Technology Transferer,"I want you to act as a Technology Transferer, ..."
149,Unconstrained AI model DAN,Hello ChatGPT. You are about to immerse yourse...
150,Gomoku player,Let's play Gomoku. The goal of the game is to ...
151,Proofreader,I want you act as a proofreader. I will provid...

In [24]:
df['act']

0                       Linux Terminal
1      English Translator and Improver
2               `position` Interviewer
3                   JavaScript Console
4                          Excel Sheet
                    ...
147                       Cover Letter
148              Technology Transferer
149         Unconstrained AI model DAN
150                      Gomoku player
151                        Proofreader
Name: act, Length: 152, dtype: object

In [26]:
prompt_templates = pd.DataFrame([["Default Prompt", ""]], columns=['act', 'prompt'])

In [27]:
prompt_templates

              act prompt
0  Default Prompt

In [28]:
prompt_templates + df

,act,prompt
0,Default PromptLinux Terminal,I want you to act as a linux terminal. I will ...
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,NaN,NaN
...,...,...
147,NaN,NaN
148,NaN,NaN
149,NaN,NaN
150,NaN,NaN
151,NaN,NaN

In [30]:
df1 = pd.concat([prompt_templates, df])

In [31]:
df1

,act,prompt
0,Default Prompt,
0,Linux Terminal,I want you to act as a linux terminal. I will ...
1,English Translator and Improver,"I want you to act as an English translator, sp..."
2,`position` Interviewer,I want you to act as an interviewer. I will be...
3,JavaScript Console,I want you to act as a javascript console. I w...
...,...,...
147,Cover Letter,"In order to submit applications for jobs, I wa..."
148,Technology Transferer,"I want you to act as a Technology Transferer, ..."
149,Unconstrained AI model DAN,Hello ChatGPT. You are about to immerse yourse...
150,Gomoku player,Let's play Gomoku. The goal of the game is to ...
151,Proofreader,I want you act as a proofreader. I will provid...

In [40]:
df1.loc[0]

              act                                             prompt
0  Default Prompt
0  Linux Terminal  I want you to act as a linux terminal. I will ...

In [38]:
df1.index

Int64Index([  0,   0,   1,   2,   3,   4,   5,   6,   7,   8,
            ...
            142, 143, 144, 145, 146, 147, 148, 149, 150, 151],
           dtype='int64', length=153)

In [ ]:
df2.